{% extends 'base.html' %}

{% block title %}Lista postów{% endblock %}

{% block body %}

  <h1>Lista postów:</h1>
  <ol>
    {% for post in posts_list %}
      <li>
        <a href ="{% url 'posts:post_details' post.id %}" target="_blank">{{post.title}}</a> 
        {% if post.sponsored %}
          (sponsorowany)
        {% endif %}
      </li>
    {% endfor %}
  </ol>

  <p>Liczba postów: {{posts_number}}</p>
  
  <p>Lista:</p>
  {% for topic in topics %}
  <li>{{topic}}</li>
  {% endfor %}
    
{% endblock %}