{% extends 'base.html' %}

{% load static %}
{% block style %}<link href={% static "posts/css/style.css" %} rel="stylesheet">{% endblock %}

{% block title %}Lista postów{% endblock %}

{% block body %}

  <h2>Lista opublikowanych postów:</h2>
  <ol>
    {% for post in page_obj %}
        <li>
          <a href ="{% url 'posts:post_details' post.id %}" target="_blank">{{post.title}}</a> 
        </li>
    {% endfor %}
  </ol>

  {# Obsługa paginacji #}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; pierwsza</a>
        <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
      {% endif %}
      
      <span class="current">
        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> następna </a>
        <a href="?page={{ page_obj.paginator.num_pages }}"> ostatnia&raquo;</a>
      {% endif %}
    </span>
  </div>

{% endblock %}