ol>li:nth-child(even) {
  background-color: rgb(134, 184, 132)
}

.posts__img {
  width: 100%;
  max-width: 100px;
  display: block;
  margin: 1rem auto;
}


.form {
  margin-left: 20px;
}

.form-group {
  margin-bottom: 1rem;
}