ol>li:nth-child(even) {
  background-color: rgb(134, 184, 132)
}

.posts__img {
  width: 100%;
  max-width: 100px;
  display: block;
  margin: 1rem auto;
}


.form {
  margin-left: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

li:nth-child(odd) {
  width: 100%;
}

.select2-selection__rendered {
  border: 2px dashed rgb(99, 99, 99);
}