{% load static %} <!-- settings.py INSTALLED_APPS= [django.contrib.staticfiles] -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "main/css/style.css" %}>
  {% block style %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <header>
    <img class="img--logo" src={% static "main/img/logo.png" %} alt="Logo">
    To jest header
  </header>

  <nav>
    <ul>
      <li>
        <a href="{% url 'main:hello_world' %}">Strona główna</a><!-- app_name:name -->
      </li>
      <li>
        <a href="{% url 'posts:list' %}">Lista postów</a>
      </li>
    </ul>
  </nav>
    
    
  {% block body %}{% endblock %}

  <footer>
    <nav>
      <ul>
        <li>
          <a href="{% url 'main:about' %}">O projekcie</a><!-- app_name:name -->
        </li>
      </ul>
    </nav>
  </footer>

</body>
</html>