<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <header>
    To jest header
  </header>

  <nav>
    <ul>
      <li>
        <a href="{% url 'main:hello_world' %}">Strona główna</a><!-- app_name:name -->
      </li>
      <li>
        <a href="{% url 'posts:list' %}">Lista postów</a>
      </li>
    </ul>
  </nav>
    
    
  {% block body %}{% endblock %}

  <footer>
    To jest footer
  </footer>

</body>
</html>