{% extends "books/layout.html" %}

{% block title %}Table of books{% endblock %}

{% block style %}
  <style>
    .container {
      margin: 1rem;
      padding-left: 1rem;
    }

    table, th, td {
      border: 1px solid;
      border-collapse: collapse;
      border-color: black;
    }

    th {
      min-width: 15vw;
    }

    .table__header-id {
      min-width: 40px;
    }

    .table__row--marked:hover {
      background-color: rgb(99, 99, 99);
      color: rgb(255, 255, 255);
    }

    .table__column--id {
      text-align: center;
    }

    .table__column--author {
      padding-right: 1rem; 
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      font-weight: bold;
      color: #eeeeee;
    }

  </style>
{% endblock %}


{% block body %}
<div class="container">
  <h1>Books in our library</h1>
  <br>
  <h2>Table</h2>
  <table>
    <tr>
      <th class="table__header-id">Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Publication year</th>
      <th>Availability</th>
    </tr>
    {% for book in books %}
        <tr class="table__row--marked">
            <td class="table__column--id">{{ book.id }}</td>
            <td class="table__column--title">
              <a href="{% url 'books:details' book.id %}">{{ book.title }}</a>
            </td>
            <td class="table__column--author">
              {% for author in book.authors.all %}
                {% if author == book.authors.all.last %}
                  {{ author.name }}
                {% else %}
                  {{ author.name }}, 
                {% endif %}
              {% endfor %}
            </td>
            <td>{{ book.publication_year }}</td>
            {% if book.available == True %}
              <td>On the shelf</td>
            {% else %}
              <td>Lended out</td>
            {% endif %}
        </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
